## Imports

In [771]:
import pandas as pd
import os

## Loads Dataframes Manually (A loop could have been used in retrospect)

In [772]:
df1 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\SandyData\Bronx2011-2014.csv")

In [773]:
df2 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\SandyData\Hudson2011-2014.csv")

In [774]:
df3 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\SandyData\Kings2011-2014.csv" )

In [775]:
df4 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\SandyData\New York2011-2014.csv" )

In [776]:
df5 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\SandyData\Queens2011-2014.csv"  )

In [777]:
df6 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\SandyData\Richmond2011-2014.csv")

In [778]:
df7 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Matagorda2015-2018.csv" )

In [779]:
df8= pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\HarveyData\Orange2015-2018.csv" )

In [780]:
df9 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\KatrinaData\Terrebonne2003-2006.csv"  )

In [781]:
df10 = pd.read_csv(r"C:\Users\ericp\OneDrive\Documents\GitHub\project-4\BLSdata\KatrinaData\Washington2003-2006.csv"  )

## Prints out a list to be copied and pasted into next set list

In [782]:
for x in range(1,7):
    print("df"+str(x)+",")

df1,
df2,
df3,
df4,
df5,
df6,

## List of dataframes to iterate

In [783]:
dflist = [
df1,
df2,
df3,
df4,
df5,
df6
]

## Creates list of columns we want (Industry employment numbers)

In [784]:
subjectlist= [x for x in df1.columns[2::3]]

## FillsNAs with 0 (In retrospect the mean, or interpolation would have been MUCH better). We analyzed the data though and the inpact was minimal

In [785]:
for x in dflist:
    x.fillna(int(0), inplace=True)

## Creates Industry Variables

In [786]:
natural_resources_mining_all_employees = []
construction_all_employees= []
manufacturing_all_employees= []
trade_transportation_utilities_all_employees= []
information_all_employees= []
financial_activities_all_employees= []
professional_business_services_all_employees= []
education_health_services_all_employees= []
leisure_hospitality_all_employees= []
other_services_all_employees= []
total_industries_aggr_value= []

## Takes all counties data by subject and groups together by industry

In [787]:
for df in dflist:
    natural_resources_mining_all_employees.append(df[subjectlist[0]]) 
    construction_all_employees.append(df[subjectlist[1]])
    manufacturing_all_employees.append(df[subjectlist[2]])
    trade_transportation_utilities_all_employees.append(df[subjectlist[3]])
    information_all_employees.append(df[subjectlist[4]])
    financial_activities_all_employees.append(df[subjectlist[5]])
    professional_business_services_all_employees.append(df[subjectlist[6]])
    education_health_services_all_employees.append(df[subjectlist[7]])
    leisure_hospitality_all_employees.append(df[subjectlist[8]])
    other_services_all_employees.append(df[subjectlist[9]])
    total_industries_aggr_value.append(df[subjectlist[10]])

## Takes each industry, creates dataframe, Sums up total, sets date as index, and saves it CSV file

In [788]:
natural_resources_mining_all_employees = pd.DataFrame(natural_resources_mining_all_employees).T
natural_resources_mining_all_employees['total'] = natural_resources_mining_all_employees.sum(axis=1)
natural_resources_mining_all_employees = natural_resources_mining_all_employees['total']
natural_resources_mining_all_employees.index = df1.date
natural_resources_mining_all_employees
natural_resources_mining_all_employees.to_csv('natural_resources_mining_all_employees.csv')

In [789]:
construction_all_employees = pd.DataFrame(construction_all_employees).T
construction_all_employees['total'] = construction_all_employees.sum(axis=1)
construction_all_employees = construction_all_employees['total']
construction_all_employees.index = df1.date
construction_all_employees
construction_all_employees.to_csv('construction_all_employees.csv')

In [790]:
manufacturing_all_employees = pd.DataFrame(manufacturing_all_employees).T
manufacturing_all_employees['total'] = manufacturing_all_employees.sum(axis=1)
manufacturing_all_employees = manufacturing_all_employees['total']
manufacturing_all_employees.index = df1.date
manufacturing_all_employees
manufacturing_all_employees.to_csv('manufacturing_all_employees.csv')

In [791]:
trade_transportation_utilities_all_employees = pd.DataFrame(trade_transportation_utilities_all_employees).T
trade_transportation_utilities_all_employees['total'] = trade_transportation_utilities_all_employees.sum(axis=1)
trade_transportation_utilities_all_employees = trade_transportation_utilities_all_employees['total']
trade_transportation_utilities_all_employees.index = df1.date
trade_transportation_utilities_all_employees
trade_transportation_utilities_all_employees.to_csv('trade_transportation_utilities_all_employees.csv')

In [792]:
information_all_employees = pd.DataFrame(information_all_employees).T
information_all_employees['total'] = information_all_employees.sum(axis=1)
information_all_employees = information_all_employees['total']
information_all_employees.index = df1.date
information_all_employees
information_all_employees.to_csv('information_all_employees.csv')

In [793]:
financial_activities_all_employees = pd.DataFrame(financial_activities_all_employees).T
financial_activities_all_employees['total'] = financial_activities_all_employees.sum(axis=1)
financial_activities_all_employees = financial_activities_all_employees['total']
financial_activities_all_employees.index = df1.date
financial_activities_all_employees
financial_activities_all_employees.to_csv('financial_activities_all_employees.csv')

In [794]:
professional_business_services_all_employees = pd.DataFrame(professional_business_services_all_employees).T
professional_business_services_all_employees['total'] = professional_business_services_all_employees.sum(axis=1)
professional_business_services_all_employees = professional_business_services_all_employees['total']
professional_business_services_all_employees.index = df1.date
professional_business_services_all_employees
professional_business_services_all_employees.to_csv('professional_business_services_all_employees.csv')

In [795]:
education_health_services_all_employees = pd.DataFrame(education_health_services_all_employees).T
education_health_services_all_employees['total'] = education_health_services_all_employees.sum(axis=1)
education_health_services_all_employees = education_health_services_all_employees['total']
education_health_services_all_employees.index = df1.date
education_health_services_all_employees
education_health_services_all_employees.to_csv('education_health_services_all_employees.csv')

In [796]:
leisure_hospitality_all_employees = pd.DataFrame(leisure_hospitality_all_employees).T
leisure_hospitality_all_employees['total'] = leisure_hospitality_all_employees.sum(axis=1)
leisure_hospitality_all_employees = leisure_hospitality_all_employees['total']
leisure_hospitality_all_employees.index = df1.date
leisure_hospitality_all_employees
leisure_hospitality_all_employees.to_csv('leisure_hospitality_all_employees.csv')

In [797]:
other_services_all_employees = pd.DataFrame(other_services_all_employees).T
other_services_all_employees['total'] = other_services_all_employees.sum(axis=1)
other_services_all_employees = other_services_all_employees['total']
other_services_all_employees.index = df1.date
other_services_all_employees
other_services_all_employees.to_csv('other_services_all_employees.csv')